@inherits LayoutComponentBase

<div class="page" style="height: 100%; margin: auto">

    <main class="d-flex flex-column">
        <article style="height: 90%; margin: 5% auto" class="container content px-4">
            @Body
        </article>

        <footer class="flex-shrink-0 py-4 ">
            <hr style="width: 90%; margin: auto"/>
            <p style="text-align:center; margin-top: 2em">Author: Antti Veikkolainen, <a href="">Github</a></p>
        </footer>
    </main>
</div>
